<%- include('partials/header') %>

    <div class="jumbotron text-center">
        <div class="container">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">Heyya! Welcome to KeyChats</h1>
            <br>
            <p class="secret-text">Start chatting!</p>
            <br>
        </div>
    </div>
    <div class="chats">
        <% usersWithMessage.forEach(function(user){ %>

            <p><b>Sender name : </b>
                <%= user.username %>
                    <b>   Message : </b>
                    <%= user.secrets %>
            </p> <br> <br>
            <% }) %>
    </div>
    <hr>
    <div class="text-center">
        <br><br>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Chat with people</a>
    </div>


    <%- include('partials/footer') %>